@page
@model Vidhyalaya.Pages_Students.DetailsModel



<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Grade.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.Id" class="btn btn-warning">Edit</a> 
    <a asp-page="./Index" class="btn btn-info">Back to List</a>
</div>

