@page
@model Vidhyalaya.Pages_Students.IndexModel


<p>
    <a href="/students/create"class="btn btn-success"> <i class="bi bi-plus-lg"></i>Add Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>

            <th>
                @Html.DisplayNameFor(model => model.Student[0].Name)
            </th>
              <th>
                ClassTeacher
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
@foreach (var item in Model.Student) {
        <tr>
            <th scope="row">@(counter++)</th>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>@(item.Grade?.ClassTeacher ?? "N/A")</td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            
            <td class ="btn btn-success">
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="bi bi-pen"></i>Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-eye-fill"></i>Details</a> 
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash3"></i>Delete</a>
            </td>
        </tr>
}



    </tbody>
</table>

