@page
@model Vidhyalaya.Pages_Grades.DetailsModel



<div>
    <h4>Grade</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.ClassTeacher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.ClassTeacher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.Medium)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.Medium)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.SessionYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.SessionYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Grade.Label" class="btn btn-warning">Edit</a>
    <a asp-page="./Index" class="btn btn-info">Back to List</a>
</div>

